@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-lg px-5 py-2.5 text-center text-sm font-medium  focus:outline-none focus:ring-4 focus:ring-orange-300 disabled:cursor-wait
  }
  .btn-primary {
    @apply btn bg-orange-700 hover:bg-orange-800 text-white
  }
  .btn-secondary {
    @apply border-orange-100 bg-orange-50 text-orange-900 hover:bg-orange-100 hover:text-orange-700
  }
  .form-input-invalid {
    @apply data-[invalid]:border-red-500 data-[invalid]:text-red-900 data-[invalid]:placeholder-red-700 data-[invalid]:bg-red-50
  }
  .form-input {
    @apply form-input-invalid rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-orange-100 focus:ring-orange-200
  }
  .form-label {
    @apply text-sm font-medium text-gray-800 data-[invalid]:text-red-700
  }
  .tab-nav {
    @apply inline-block rounded-t-lg border-b-2 hover:border-gray-300 hover:text-gray-600 data-[active=true]:border-orange-600 p-4 data-[active=true]:text-orange-600
  }
  .nav-item {
    @apply flex items-center rounded-lg p-2 text-gray-800 hover:bg-orange-100 data-[active=true]:bg-orange-200
  }
  .nav-sidebar {
    @apply fixed top-0 left-0 z-40 h-screen w-72 -translate-x-full transition-transform data-[open=true]:transform-none data-[open=false]:-translate-x-full sm:translate-x-0
  }
}
@media (min-width: 640px) {
  .nav-sidebar {
    --tw-translate-x: 0px !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important;
  }
}
.main-container {
  background: url('/bg.svg') no-repeat;
  background-attachment: fixed;
  background-position: right;
}